* {
    font-family: "Courier New", monospace;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.control {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1vh;
    margin-bottom: 1vh;
}

.mode-options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1vh;
}

label {
    display: flex;
    align-items: center;
}

/* Beautify checkboxes */
input[type="checkbox"] {
    appearance: none;
    width: 2vh;
    height: 2vh;
    border: 0.125vh solid black;
    border-radius: 0.5vh;
    margin-right: 1vh;
    transition: all 0.25s;
}

input[type="checkbox"]:hover {
    animation: pulseGreen 0.5s infinite alternate;
}

@keyframes pulseGreen {
    from {
        background-color: white;
    }
    to {
        background-color: lightgreen;
    }
}

/* Checked state */
input[type="checkbox"]:checked {
    background-color: lightgreen;
}

/* Beautify slider track */
input[type="range"] {
    appearance: none;
    width: 15vh;
    height: 0.5vh;
    background: gray;
    border-radius: 1vh;
}

/* Beautify slider thumb */
input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 1vh;
    height: 1vh;
    background: lightgreen;
    border: 0.125vh solid black;
    border-radius: 50%;
}

input[type="range"]::-moz-range-thumb {
    appearance: none;
    width: 1vh;
    height: 1vh;
    background: lightgreen;
    border: 0.125vh solid black;
    border-radius: 50%;
}

/* Beautify button */ 
button {
    padding: 0.5vh 1vh;
    font-size: 2vh;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 1vh;
    transition: all 0.25s ease;
}

button:hover {
    background-color: lightgreen;
}

.container {
    width: min(75vw, 75vh);
    height: min(75vw, 75vh);
    border: 0.5vh solid black;
    display: grid;
    flex-grow: 0;
}

.square {
    box-sizing: border-box;
    border: 0.125vh solid black;
    background-color: white;
}