* {
    font-family: "Courier New", monospace;
    font-size: 1rem;

    --distance: 0.5rem;
    --double-distance: calc(var(--distance) * 2);

    --border: 0.125vh solid black;
    --thick-border: 0.5vh solid black;

    --squircle: 1vh;
    --round: 50%;
    
    --animation: pulseGreen 0.5s infinite alternate;
    --transition: all 0.25s ease;

    --main-color: lightgreen;
    --secondary-color: white;
    --third-color: grey;
    --fourth-color: black;
    
    --slider-track-width: 15vh;
    --slider-track-height: 0.5vh;
    --slider-thumb-diameter: 1vh;

    --button-padding: 0.5vh 1vh;

    --container-size: 75vmin;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.control {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: var(--distance);
    margin-bottom: var(--distance);
}

.mode-options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: var(--distance);
}

label {
    display: flex;
    align-items: center;
}

input[type="radio"] {
    appearance: none;
    width: var(--double-distance);
    height: var(--double-distance);
    border: var(--border);
    border-radius: var(--round);
    margin-right: var(--distance);
    transition: var(--transition);
}

input[type="radio"]:hover {
    animation: var(--animation);
}

@keyframes pulseGreen {
    from {
        background-color: var(--secondary-color);
    }
    to {
        background-color: var(--main-color);
    }
}

input[type="radio"]:checked {
    background-color: var(--main-color);
}

input[type="range"] {
    appearance: none;
    width: var(--slider-track-width);
    height: var(--slider-track-height);
    background: var(--third-color);
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: var(--slider-thumb-diameter);
    height: var(--slider-thumb-diameter);
    background: var(--main-color);
    border: var(--border);
    border-radius: var(--round);
}

input[type="range"]::-moz-range-thumb {
    appearance: none;
    width: var(--slider-thumb-diameter);
    height: var(--slider-thumb-diameter);
    background: var(--main-color);
    border: var(--border);
    border-radius: var(--round);
}

button {
    padding: var(--button-padding);
    background-color: var(--secondary-color);
    color: var(--fourth-color);
    border: var(--border);
    border-radius: var(--squircle);
    transition: var(--transition);
}

button:hover {
    background-color: var(--main-color);
}

.container {
    width: var(--container-size);
    height: var(--container-size);
    border: var(--thick-border);
    display: grid;
    flex-grow: 0;
}

.square {
    box-sizing: border-box;
    border: var(--border);
    background-color: var(--secondary-color);
}